In [360]:
import pandas as pd

In [361]:
data= {'сладкий': [60,90,70,10],
       'круглый': [0,70,80,50],
       'кислый': [50,10,30,90],
       'желтый': [90,5,30,80],
       'кол-во фруктов':[100,100,100,100]
       }

In [362]:
df=pd.DataFrame(data,columns=['сладкий','круглый','кислый','желтый','кол-во фруктов'], 
                     index=['банан','арбуз','апельсин','лимон'])
df.loc['всего'] = df.sum()
    
df

          сладкий  круглый  кислый  желтый  кол-во фруктов
банан          60        0      50      90             100
арбуз          90       70      10       5             100
апельсин       70       80      30      30             100
лимон          10       50      90      80             100
всего         230      200     180     205             400

In [363]:
banana=(df['сладкий'][0]/df.loc['всего'][0])*(df['круглый'][0]/df.loc['всего'][1])*(df['кислый'][0]/df.loc['всего'][2])*(df['желтый'][0]/df.loc['всего'][3])
watermelon=(df['сладкий'][1]/df.loc['всего'][0])*(df['круглый'][1]/df.loc['всего'][1])*(df['кислый'][1]/df.loc['всего'][2])*(df['желтый'][1]/df.loc['всего'][3])
orange=(df['сладкий'][2]/df.loc['всего'][0])*(df['круглый'][2]/df.loc['всего'][1])*(df['кислый'][2]/df.loc['всего'][2])*(df['желтый'][2]/df.loc['всего'][3])
limon=(df['сладкий'][3]/df.loc['всего'][0])*(df['круглый'][3]/df.loc['всего'][1])*(df['кислый'][3]/df.loc['всего'][2])*(df['желтый'][3]/df.loc['всего'][3])

print('Класс бананы:',banana)
print('Класс арбузы:',watermelon)
print('Класс апельсины:',orange)
print('Класс лимоны:',limon)

Класс бананы: 0.0
Класс арбузы: 0.00018557794273594907
Класс апельсины: 0.0029692470837751855
Класс лимоны: 0.0021208907741251328

In [368]:
def prediction(sweet,roundly,sour,yellow):
    prediction=[(sweet/df.loc['всего'][0])*(roundly/df.loc['всего'][1])*(sour/df.loc['всего'][2])*(yellow/df.loc['всего'][3])]
    if prediction >= orange:
        print("Класс апельсинов")
    elif prediction < orange and prediction >= limon:
        print("Класс лимонов")
    elif prediction < limon and prediction >= watermelon:
        print("Класс арбузов")
    elif prediction < watermelon and prediction >= banana:
        print("Класс бананов")
    print("Предик:",prediction)
    print('\n')

In [369]:
prediction(80,0,10,80)
prediction(20,50,10,80)
prediction(80,80,10,80)
prediction(10,60,90,80)

Класс бананов
Предик: [0.0]


Класс арбузов
Предик: [0.0004713090609166961]


Класс апельсинов
Предик: [0.0030163779898668554]


Класс лимонов
Предик: [0.002545068928950159]